/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#000000;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	background:#FDFDC8;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;

	/*background image*/
	background-image: url(retro.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:80px;
	margin:0 auto;
	width:70vw;
	background:#FDFDAD;
	position: relative;

	border-top: 3px groove;
	border-left: 3px groove;
	border-right: 3px groove;

}
#header h1 {
	color:#000000;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
	position: absolute;
	top: 8px;
	right: 16px;
	text-shadow: 2px 2px #FCFC00;
}
#header h2 {
	color:#000000;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
	position: absolute;
	bottom: 0px;
	right: 16px;
	text-shadow: 2px 2px #FCFC00;
}

#header img{
	width: 100%;
	height: auto;
	z-index: -1;
	background-repeat: repeat-y;
}

span.first {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
}

/* reg table */
#reg tr td {
	padding: 10px;
}

/* navigation */
#navigation {
	background-color: #FDFDAD;
	border-right:1px solid #999;
	margin:0 auto;
	width:70vw;
	height:40px;
	list-style:none;
	z-index: 2;
	position: relative;


	border-left: 3px groove;
	border-right: 3px groove;



}
#navigation li {
	border-left:1px solid #999;
	float:right;
	width:100px;
	list-style:none;

}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
	color: black;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:70vw;
	background-color: #FDFDAD;

	z-index: 2;
	position: relative;

	border-left: groove;
	border-right: groove;
	border-width: 3px;
}
#content h1 {
	border-bottom:1px dashed #000000;
	font-size:1.8em;
	padding:20px 0 0;
	color: black;
}
#content p {
	padding:20px 20px 0;
	color: black;
}

table, h2, legend {
	color: black;
}

#content .mySlides {display: none;}
#content img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#content .mySlides {display: none;}
#content img {vertical-align: middle;}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* footer */
#footer {
	border-top:1px solid black;
	height:50px;
	margin:0 auto;
	padding:10px 0px;
	text-align:center;
	width:70vw;
	background-color: #FDFDAD;
	color: black;

	z-index: 2;
	position: relative;

	border-bottom: 3px groove;
	border-left: 3px groove;
	border-right: 3px groove;

}

/* Added by Larry Ullman: */
.ad {
	font-weight: bold;
	color: #C00;
}
#errors {
	padding:20px 20px 0;
	font-weight: bold;
	color: #FF0000;
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #000000;
	background: #FFFFFF;
	border:1px dotted #000000;
}
